<main>
    <div id="azul-login">
        <form action="#">
            <div id="linha-title"><span id="form-title">Login</span></div>
            <div>
                <label for="email" id="email-label">E-mail: </label>
                <input type="email" name="email" id="email" [(ngModel)]="userModel.email">
            </div>
            <div>
                <label for="senha" id="senha-label">Senha: </label>
                <input type="password" name="senha" id="senha" [(ngModel)]="userModel.password">
            </div>
            <div><span id="esqueci-senha"><a href="#" target="_blank">Esqueci minha senha</a></span></div>
        </form>
        <div id="form-botao-parent">
            <div><input type="button" name="botao" id="entrar" value="Entrar" (click)="receberDados()"></div>
            <div><button id="cadastrar"><a href="#">Cadastrar-se</a></button></div>
        </div>
    </div>
    <p id="msg-validacao">Dados corretos. Você pode entrar no site!</p>
    <p id="msg-invalidacao">Dados incorretos. Por favor, insira os dados corretos.</p>
    <div id="fundo-preto-login"></div>
</main>