<header class="flex-container-header">

    <!--Houve um problema para exportar as imagens do símbolo e do logo, portanto escolhi fazê-las como texto no HTML e estilizar com o CSS-->
    <div class="simbolo-container">
        <span id="simbolo"><a routerLink="">GM<div id="shadow-simbolo"></div></a></span>
        <span id="linha-left"></span>
    </div>


    <div class="logotipo-container">
        <div id="container-logo">
            <div (click)="logoClique()" id="logotipo">
                <span id="link-logotipo">GAME MANIA</span>
                <a routerLink="">
                    <div id="shadow-logotipo"></div>
                </a>
            </div>
        </div>
        <nav class="container">
            <div class="row">
                <a class="col-xxl-1 col-xl-1 col-lg-1" href="#">Produtos</a>
                <a class="col-xxl-2 col-xl-1 col-lg-1" href="#">Promoções</a>
                <a class="col-xxl-2 col-xl-2 col-lg-2 fonte-menor" href="#">Exclusivo para Gamers</a>
                <a class="col-xxl-2 col-xl-2 col-lg-2 fonte-menor" href="#">Área do Cliente</a>
                <a class="col-xxl-1 col-xl-1 col-lg-1" href="#">Contato</a>
                <input class="col-xxl-4 col-xl-5 col-lg-5 col-md-12" type="search" placeholder="Buscar no site"
                    id="barra-de-busca">
            </div>
        </nav>
    </div>

    <div id="top-right-box">
        <span id="login"><a routerLink="/login">Fazer Login</a></span>
        <span id="menu" (click)="menuClique()"><a href="#" target="_self">Menu</a></span>
        <span id="cadastro"><a href="#" target="_blank">Cadastrar-se</a></span>
        <span id="buscar"><a href="#" target="_self">Buscar</a></span>
    </div>

</header>