<main>
    <section id="produtos">
        <div id="azul-escuro" class="container">
            <div id="azul-claro">
                <div class="titulo-vermelho">
                    O QUE VOCÊ PROCURA?
                </div>
                <div class="flex-container">
                    <span class="border-cima border-cima-sm"><a href="#">videogames</a></span>
                    <span class="border-cima tirar-border-cima"><a href="#">computadores</a></span>
                    <span class="border-cima tirar-border-cima"><a href="#">headphones e headsets</a></span>
                    <span><a href="#">notebooks</a></span>
                    <span><a href="#">teclados</a></span>
                    <span><a href="#">microfones</a></span>
                    <span><a href="#">acessórios</a></span>
                    <span><a href="#">mouses e mousepads</a></span>
                    <span><a href="#">webcams</a></span>
                    <span class="border-baixo tirar-border-baixo"><a href="#">celulares e smartphones</a></span>
                    <span class="border-baixo tirar-border-baixo"><a href="#">kit gamer</a></span>
                    <span class="border-baixo border-baixo-sm"><a href="#">câmeras digitais</a></span>
                </div>
            </div>
        </div>
    </section>

    <section id="section-imagens">
        <div id="imagens" class="container">
            <div class="titulo-vermelho" id="nossos-produtos">NOSSOS PRODUTOS</div>
            <div id="flex-container-img">
                <a href="#" target="_blank" id="img-pqn1-l"><img class="imagem-pequena" id="img-pqn1" src="assets/img/img-2.png"
                        alt="notebook, tablet, teclado e tela sobre mesa de madeira"></a>
                <a href="#" target="_blank" id="img-pqn2-l"><img class="imagem-pequena" id="img-pqn2" src="assets/img/img-1.png"
                        alt="controles de videogame"></a>
            </div>
        </div>
        <span id="texto-img1"></span>
        <span id="texto-img2"></span>
    </section>

    <section id="section-promocao" class="ocultar-promocao">
        <div id="promocao" class="container">
            <div class="titulo-vermelho" id="promocao">PROMOÇÃO<br> kit headphone + teclado + mouse <br>R$100,00
            </div>
            <div>
                <a href="#" target="_blank"><img id="imagem-grande" src="assets/img/img-3.png"
                        alt="headphone, teclado e mouse"></a>
            </div>
        </div>
    </section>

    <div id="fundo-preto"></div>
</main>